legend {
    color: peru;
    background-color: black;
    font-size: 30px;
    font-style: italic;
}

label {
    font-size: 20px;
    background-color: wheat;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#idPesquisaNav {
    background-color: lawngreen;
    border-radius: 10px;
}

#idAtendimentoNav {
    background-color: lightcoral;
    border-radius: 10px;

}

#idCorpAtendenteNav {
    background-color: gray;
    border-radius: 10px;
    border-bottom: 
}


button {
    border: none;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}